

<style>

body {
  background-color: #254558
}
.valign-wrapper{
   background-color: #f4f5f6;
   width: 100%;
   color: #2b2b3a;
   text-shadow: 1px 1px 2px #eafc40;
   border-radius: 15px;
}
#shadow {
  text-shadow: 1px 1px 2px #f4f5f6;
}
.container{
  width: 100%
}
</style>

 {{>nav-partial}}

 <div class="container" style="width: 100%">
 <br>
  <div style="width: 100%" class="row">
    <div style="width: 100%" class="col s12">
      <div class="right-align">{{>leaderboard-partial}}</div>
    </div>
  </div><!--row-->
 </div><!--container-->

   {{#if house.cat}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">SPECIAL EDITION</h4>
        </div><!--col-->

        {{#each house.cat}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>
  
  {{#if house.stark}}
    <div class="container valign-wrapper" width="100%">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">HOUSE STARK<div class="right right-align"><img class="float-right" style="padding-left: 20px" height="75px" src="assets/img/got/stark.png"></div></h4>
        </div><!--col-->

        {{#each house.stark}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if house.lannister}}
  <div class="container valign-wrapper">
    <div class="row"><!--STARK DIV-->
      <div class="col s12">
        <h4 style="padding:30px 30px 0 30px" class="">HOUSE LANNISTER<img class="right right-align float-right" style="padding-left: 20px" height="75px" src="assets/img/got/lannister.png"></h4>
      </div><!--col-->

        {{#each house.lannister}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>
    
  {{#if house.targaryen}}
      <div class="container valign-wrapper" width="100%">
        <div class="row"><!--STARK DIV-->
          <div class="col s12">
            <h4 style="padding:30px 30px 0 30px" class="">HOUSE TARGARYEN<div class="right right-align"><img class="float-right" style="padding-left: 20px" height="75px" src="assets/img/got/targaryen.png"></div></h4>
          </div><!--col-->

          {{#each house.targaryen}}
              <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
          {{/each}}
        </div><!--row-->
      </div><!--wrapper-->
    {{/if}}

  <br><br>

  {{#if house.baratheon}}
  <div class="container valign-wrapper">
    <div class="row"><!--STARK DIV-->
      <div class="col s12">
        <h4 style="padding:30px 30px 0 30px" class="">HOUSE BARATHEON<img class="right right-align float-right" style="padding-left: 20px" height="75px" src="assets/img/got/baratheon.png"></h4>
      </div><!--col-->

        {{#each house.baratheon}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if house.nightswatch}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">THE NIGHTSWATCH<img class="right right-align float-right" style="padding-left: 20px" height="75px" src="assets/img/got/nightswatch.png"></h4>
        </div><!--col-->

        {{#each house.nightswatch}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if house.warriors}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">WARRIORS OF WESTEROS</h4>
        </div><!--col-->

        {{#each house.warriors}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if kitty.martell}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">HOUSE MARTELL<img class="right right-align float-right" style="padding-left: 20px" height="75px" src="assets/img/got/martell.png"></h4>
        </div><!--col-->

        {{#each kitty.martell}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if house.tryell}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">HOUSE TYRELL<img class="right right-align float-right" style="padding-left: 20px" height="75px" src="assets/img/got/tryellflag.png"></h4>
        </div><!--col-->

        {{#each house.tyrell}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if house.wildlings}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">WILDLINGS</h4>
        </div><!--col-->

        {{#each house.wildlings}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if kitty.smallCouncil}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">SMALL COUNCIL</h4>
        </div><!--col-->

        {{#each kitty.smallCouncil}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>
  
  {{#if house.other}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">ADDITIONAL</h4>
        </div><!--col-->

        {{#each house.other}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>

  {{#if house.direwolves}}
    <div class="container valign-wrapper">
      <div class="row"><!--STARK DIV-->
        <div class="col s12">
          <h4 style="padding:30px 30px 0 30px" class="">Direwolves<img class="right right-align float-right" style="padding-left: 20px" height="75px" src="assets/img/got/stark.png"></h4>
        </div><!--col-->

        {{#each house.direwolves}}
            <div class="col xs2">
              <h6 id="shadow" class="center-align"><img class="center-align materialboxed" style="padding: 10px"  width="200px" src="{{this.image}}">{{this.name}}</h6>
            </div><!--col-->
        {{/each}}
      </div><!--row-->
    </div><!--wrapper-->
  {{/if}}

  <br><br>
